{% load static %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block extra %}

<form id="search_form" action="{% if venda_obj.id %}{% url 'item-do-pedido' venda_obj.id %}{%endif%}"  method="POST" class="form-inline">{% csrf_token %}
    <div class="row"><!--linha 1/3-->
        <div class="col-xs-12 text-center"><!--coluna 1/2-->
            <!-- <input name="qnt" style="width: 35px;" id="qnt" type="text" placeholder="01"> 
            <label style="font-size:17px" class="label label-default">X</label>
            <input name="search" id="search" type="text" placeholder="Search Produto..."> -->

            {% for field in form_item.visible_fields %}
                <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                
                {{ field|add_class:'form-control' }}
                
                {% for error in field.errors %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
                </div>
            {% endfor %}
                <!-- {{ form_item }} -->

            <button onclick="Submits()"><span class="glyphicon glyphicon-search"></span></button>
        </div>            
    </div>
</form>
<br>
    <div class="row"><!--linha 2/3-->
        <div class="table-overflow col-xs-12 "><!--coluna unica-->                  
            <table class="listacaixa" border="0">
            <thead id="talk">
                <tr>
                    <th class="t5 linhafixa"></th>
                    <th class="t3 linhafixa">Código</th>
                    <th class="linhafixa">Descrição do Produto</th>
                    <th class="t4 linhafixa">Qtde</th>
                    <th class="t2 linhafixa">R$ Unitário</th>
                    <th class="t2 linhafixa">R$ Total</th>
                    <th class="t1 linhafixa"></th>
                </tr>
                {% for item in itens %}
                <tr>                                    
                    <td class="linhafixa">
                        <a href="#" data-toggle="modal" data-target="#exampleModal" 
                        data-whateverdetalhes="{{item.produto.nome}}"
                        data-whateverimagem="{% if item.produto.foto %}{{item.produto.foto.url}}{%else%}{% static "img/logo/logo.png" %} {%endif%} ">
                        <img src="{% if item.produto.foto %}{{item.produto.foto.url}}{%else%}{% static "img/logo/logo.png" %} {%endif%} " width="32">
                        </a>
                    </td>
                        <td class="linhafixa">{{item.produto.codigo_produto}}</td>
                        <td class="linhafixa"><strong>{{item.produto.nome}}</strong></td>
                        <td class="linhafixa">{{item.quantidade}}</td>
                        <td class="linhafixa">{{item.produto.valor}}</td>
                        <th class="linhafixa">{{item.total_item}}</th>
                        <td class="linhafixa">
                        <a class="primarycolor" id="delete-post-{{item.id}}" href="#" style="text-decoration:none">
                        <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </td>
                </tr> 
                {% endfor %}
                <tr>
                    <th class="colorback"></th>                           
                </tr>  
            </thead>
            </table>
        </div>
    </div>
    <br>

    <script>
        // Delete post on click
        $("#talk").on('click', 'a[id^=delete-post-]', function(){
            var post_primary_key = $(this).attr('id').split('-')[2];
            var id = $(this).attr('data-url');
            // alert(id); // sanity check
            delete_post(post_primary_key);
        });
            
        // $("#talk").prepend("<li><strong>"+json.text+"</strong> - <em> "+json.author+"</em> - <span> "+json.created+
        //     "</span> - <a id='delete-post-"+json.postpk+"'>delete me</a></li>"
        // );  

        function delete_post(post_primary_key){

            // if (post_primary_key == 0){
            //     post_primary_key = 97
            // }

            if (confirm('are you sure you want to remove this post?')==true){
                $.ajax({
                    url : "delete_post/", // the endpoint
                    type : "DELETE", // http method
                    data : { postpk : post_primary_key }, // data sent with the delete request
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    },
                    success : function(json) {
                        // hide the post
                    $('#post-'+post_primary_key).hide(); // hide the post on success
                    alert("post deletion successful");
                    document.getElementById("venda_form").submit()
                    },

                    error : function(xhr,errmsg,err) {
                        // Show an error
                        $('#results').html("<div class='alert-box alert radius' data-alert>"+
                        "Oops! We have encountered an error. <a href='#' class='close'>&times;</a></div>"); // add error to the dom
                        alert(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    }
                });
            } else {
                return false;
            }
        };
    
    </script>


    <!-- modal delete -->
    <div class="container">
            <div class="modal fade" id="deleteModal" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <label id="nome"></label>
                            <label id="id"></label>
                            <input type="hidden" id="id_"></input>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <form id="form_" method="post">
                            <div class="modal-body text-center">
                                    
                            </div>      
                            <div class="modal-footer">
                                <button type="submit" class="btn" data-dismiss="modal"><i class="glyphicon glyphicon-ok"></i> Delete</button>      
                                <button type="button" class="btn" data-dismiss="modal"><i class="glyphicon glyphicon-ok"></i> Cancelar</button>      
                            </div>
                        </form>   
                    </div>      
                </div>      
            </div>      
        </div>
        <script type="text/javascript">
            $('#deleteModal').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget) // Button that triggered the modal
              var recipientid = button.data('whateverid')
              var recipientnome = button.data('whatevernome')
              // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
              // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
              document.getElementById("id").innerHTML = recipientid;
              document.getElementById("nome").innerHTML = recipientnome; 
              document.getElementById("id_").setAttribute("value", recipientid); 
           
              var modal = $(this) 

                // var div1 = document.getElementById("form_").getAttribute("action");           

                //                 alert(div1);

                              
            
            })


          </script>

        <script>
        document.getElementById("").submit();
        </script>
    <!-- modal delete -->

{% endblock %}