{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>  

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link  rel="stylesheet" href="{% static 'css/login.css' %}">
    <!-- <a href="https://icons8.com">Icon pack by Icons8</a> -->

    <title>Kraft</title>
</head>


       <body style="background-color: #7d0706ff">
        <div class="login-page">
            <div class="form">                  
                <form class="pure-form pure-form-aligned" method="POST">
                        <div align="center">
                            <img src="{% static "img/logo/logo.png" %}" width="200">
                        </div>

                        <h2> Login </h2>
                        {% csrf_token %}
                        <fieldset>
                            {{ form.non_field_errors }}
                            
                            {% for field in form %}
                                <div class="pure-control-group">
                                    {{ field.label_tag }}
                                    {{field}}
                                    {{field.errors}}
                                </div>
                            {% endfor %}

                            <div class="pure-controls">
                                <button type="submit" class="pure-button pure-button-primary">Entrar</button>
                            </div>

                        </fieldset>
                   
                        </div>
                    </div>
                    
            </form>
            
        </div>
    </div>

    <script>
      $('.message a').click(function(){
            $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
         });
    </script>
       </body>

